
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4

Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
UseTab: Always
TabWidth: 4
SpacesInParentheses: true
SpacesInSquareBrackets: true
ColumnLimit: 130
AllowShortFunctionsOnASingleLine: Empty
